In [1]:
# 변수 선언
a = 10
b = "test"

## 변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [3]:
a = "test2"
print(a)

test2

In [4]:
# 불형 데이터
# 참과 거짓의 형태
a = True
print(type(a))

<class 'bool'>

In [5]:
b = (100 > 10)
c = (100 < 10)
d = (100 == 100)
print(b, c, d)

True False True

In [6]:
# 산술 연산자
# 기본적인 사칙연산
a = 7
b = 3

print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

10 4 21 2.3333333333333335 2 1 343

In [7]:
c = 2
print(a+b*c)
print((a+b)*c)

13
20

In [8]:
# 대입 연산자
a += 5 # a = a + 5
print(a)

12

### 조건문
 - if 문

In [10]:
a = 11

if a < 10:
    print("a는 10보다 작다")

In [11]:
# if ~ else
a = 20

if a <10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [13]:
# if ~ elif ~ else문
score = int(input("점수를 입력하세요 : "))

print(score)
print(type(score))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else :
    print("F")

print("프로그램 종료")

88
<class 'int'>
B
프로그램 종료

In [14]:
# 반복문
# for문
for i in range(0,10,1):
    print("%d 번재 반복" %i)

0 번재 반복
1 번재 반복
2 번재 반복
3 번재 반복
4 번재 반복
5 번재 반복
6 번재 반복
7 번재 반복
8 번재 반복
9 번재 반복

In [15]:
for i in range(10):
    print("%d 번재 반복" %i)

0 번재 반복
1 번재 반복
2 번재 반복
3 번재 반복
4 번재 반복
5 번재 반복
6 번재 반복
7 번재 반복
8 번재 반복
9 번재 반복

In [16]:
# 1부터 10까지의 합계
# for문

# 합계 변수 생성
sum = 0

for a in range(1, 11, 1):
    sum += a # sum = sum + a

print(sum)

55

In [19]:
# 다중 for문
# 구구단

for i in range(2, 10, 1):
    print("%d단"%i) # print(i+"단")
    for j in range(1, 10, 1):
        print("%d X %d = %d"%(i, j, i*j))

2단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [22]:
# for문
# 1부터 100까지의 숫자중에 짝수의 합계
# hint : 1부터 100까지 반복
# if 조건식을 사용해서 짝수인 경우에만 +
sum = 0

for i in range(0,101,1):
    if i % 2 == 0:
        sum += i

print(sum)

sum = 0
for i in range(2,101,2):
    sum += i
print(sum)

2550
2550

In [24]:
# 다중 for문
# 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값

for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 5:
            print("%d, %d의 값을 가지는 주사위"%(i, j))

1, 4의 값을 가지는 주사위
2, 3의 값을 가지는 주사위
3, 2의 값을 가지는 주사위
4, 1의 값을 가지는 주사위

In [25]:
# while문

# 초기값 지정
i = 0

# while문 시작
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [27]:
# break문
for i in range(1,101,1):
    print("%d 번째 반복"%i)
    if i == 5:
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [28]:
# 1부터 100까지 합계를 구하는 중 합게가 500이 넘어가는 숫자와 합계의 값

sum = 0
i = 0

for i in range(1, 101, 1):
    sum += i
    if sum >= 500:
        break
print("합계가 500 이상이 되는 범위의 숫자는", i, "이고 합계는", sum, "이다.")

합계가 500 이상이 되는 범위의 숫자는 32 이고 합계는 528 이다.

In [30]:
# while문 문제
sum = 0
i = 0

while sum < 500:
    i += 1
    sum += i
print("합계가 500 이상이 되는 범위의 숫자는", i, "이고 합계는", sum, "이다.")

합계가 500 이상이 되는 범위의 숫자는 32 이고 합계는 528 이다.

In [35]:
# 풀이
sum = 0
i = 0

while i <= 100:
    sum +=i
    if sum >= 500:
        break
    i += 1

print("합계가 500 이상이 되는 범위의 숫자는", i, "이고 합계는", sum, "이다.")

합계가 500 이상이 되는 범위의 숫자는 32 이고 합계는 528 이다.

In [36]:
# continue문
for i in range(1, 10, 1):
    if i <= 3:
        continue
    print("%d 번째 반복"%i)

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [37]:
# 1부터 100까지 짝수의 합계
sum = 0

for i in range(1, 101, 1):
    if i % 2 ==1:
        continue
    sum += i

print(sum)

2550

## 튜플

In [46]:
# 튜플
a = (1, "Hello")
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a)
print(b)
print(c)
print(d)
print(e)

(1, 'Hello')
(3, 3.14)
(1, 'Hello', 3, 3.14)
(1, 'Hello', 1, 'Hello', 1, 'Hello')
Hello

In [47]:
# 숫자 1만 출력하고 싶으면?
print(a[0])

1

In [49]:
a = (10, 20, 30, 40)

# 20과 30을 출력하고 싶으면?

print(a[1:3])

# 30과 40을 출력하고 싶으면?

print(a[2:])

(20, 30)
(30, 40)

### List
내부함수
- append: 가장 뒤 항목 추가
- pop: 맨 뒤 항목 삭제
- sort: 오름차순 정렬
- reverse: 역순으로 정렬
- index: 지정한 값으로 위치 변경
- remove: 지정한 값 삭제
- extend: 리스트 뒤에 새로운 리스트 추가

In [54]:
# list 형태 데이터
a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

# sort() -> 오름차순 정렬로 변경
a.sort() # list a를 정렬
print(a)

# reverse() -> 역순으로 정렬을 변경
b.reverse()
print(b)

# append() -> 리스트의 마지막에 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50]
[40, 30, 20, 10]
[5, 10, 20, 50, 22]

In [55]:
# list의 특징
a = [] # 항목이 비어있는 리스트를 생성할 수 있음
print(a)
a.append(10)
print(a)

[]
[10]

In [65]:
# 3의 배수
a = []

for i in range(1,71,1):
    if i % 3 == 0:
        a.append(i)

print(a)

sum = 0
for i in a:
    sum += i

print(sum)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]
828

## Dictionary
key-value

In [68]:
# 사전형 데이터
# {key1 : value1, key2 : value2, ...}
dict = {
    "name" : "test",
    "age" : 20,
    "phone" : "01012345678"
}

print(dict["name"])

test

In [69]:
# 새로운 key : value 를 대입
dict["area"] = "seoul"

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [71]:
# Database에서 데이터를 받아올 때 데이터의 형태
# [{}, {}, {}]
test_data = [
    {
        "name" : "test1",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]

print(test_data[0]["name"])

test1

In [74]:
# test_data에서 name의 값들만 리스트의 형대로 출력
name_list = []

for dict in test_data:
    name_list.append(dict["name"])

print(name_list)

['test1', 'test2', 'test3']

In [78]:
# 다른 예시
name_list = []

for i in range(0, 3, 1): # -> for i in range(0, len(test_data), 1): -> for i in range(len(test_data)):
    name_list.append(test_data[i]["name"])

print(name_list)

['test1', 'test2', 'test3']

## 문자열 함수
- upper(): 문자를 모두 대문자로 변환
- lower(): 문자를 모두 소문자로 변환
- swapcase(): 대문자를 소문자로, 소문자를 대문자로 변환
- title(): 문자의 첫번째 글자만 대문자로 변환
- count(): 문자열의 개수 출력
- find(): 문자열 앞부터 찾는 문자가 몇번째에 존재하는지 검색
- index(): find와 같이 위치를 출력하지만 찾는 단어가 없을 시 에러 발생
- lstrip(): 문자열 왼쪽의 공백을 지운다
- rstrip(): 문자열 오른쪽의 공백을 지운다
- strip(): 문자열 왼쪽/오른쪽의 공백을 지운다
- replace(): 문자열 안의 특정한 값을 다른 값으로 치환
- split(): 문자열을 괄호 안에 값으로 구분하여 나누어준다.(괄호 안이 값을 넣지 않으면 - 공백을 기준으로 함)

In [79]:
# 문자열 내장 함수
# 대문자, 소문자
text = "Hello World"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [84]:
text = "   Hello world   "
print(text)
print(text.lstrip())
print(text.rstrip())
print(text.strip())

   Hello world
Hello world
   Hello world
Hello world

In [82]:
# replace()
# 선택한 문자열을 변경
# 공백 제거도 가능
text.replace(" ","")

'Helloworld'

In [85]:
text.replace("Hello", "Hi")

'   Hi world   '

In [86]:
# split()
# 기준이 되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할
a = "a, b, c, d, e"
print(a)

a, b, c, d, e

In [87]:
a.split(",")

['a', ' b', ' c', ' d', ' e']

## 함수

def 함수명(매개변수):
    실행할 코드 1
    실행할 코드 2
    실행할 코드 3
    return (출력 값)

함수명(인자) -> 출력 값

In [94]:
# 매개변수가 없는 함수의 예시
def func_1():
    return "Hello world"

In [95]:
print(func_1())
print(func_1())
print(func_1())

Hello world
Hello world
Hello world

In [100]:
# 매개변수가 존재하는 함수의 예시
def func_2(a, b):
    c = a + b
    return c

In [103]:
print(func_2(5, 3))
print(func_2(1, 3))
print(func_2(10, 4))

8
4
14

In [104]:
# 매개변수에 기본값을 정의
def func_3(x, y = 3):   # def func_4(x = 3, y): 기본값은 앞에 존재할 수 없다
    result = x + y
    return result

print(func_3(5, 1))
print(func_3(3))

6
6

In [106]:
def func_4(x, y):
    result = x ** y
    return result

print(func_4(5, 2))
print(func_4(y=5, x=2))

25
32

1. 함수를 하나 생성 매개변수 2개(x, y)
2. 함수가 하는 행동(a부터 b까지의 합을 리턴) - for/while문
3. x보다 y가 작은 경우에는 x부터 y까지의 합, 반대인 경우에는 y부터 x까지의 합

In [110]:
def func_5(x, y):
    sum = 0
    if x < y:
        for i in range(x, y+1, 1):
            sum += i
        return sum
    else:
        for i in range(y, x+1, 1):
            sum += i
        return sum

print(func_5(10,1))

55

In [111]:
def func_6(x, y):
    sum = 0
    while x <= y:
        sum += x
        x += 1
    return sum

print(func_6(1, 10))

55

In [1]:
def func_7(x, y):
    sum = 0
    for i in range(min(x, y), max(x, y)+1, 1):
        sum += i
    return sum

print(func_7(1,10))
print(func_7(10,1))

55
55

1. 함수 생성(매개변수 3개 x, y, z)
2. z의 값이 "합" x+y 리턴
3. z의 값이 "차" x-y 리턴
4. z의 값이 둘 다 아니면 "연산식이 잘못되었습니다" 리턴

In [11]:
def func_8(x, y, z):
    if z == "합":
        return x + y
    if z == "차":
        return x - y
    return "연산식이 잘못되었습니다"

print(func_8(7, 3, "."))

연산식이 잘못되었습니다

In [13]:
def func_9(x, y, z):
    if z == "합":
        result = x + y
    elif z == "차":
        result = x - y
    else:
        result = "연산식이 잘못되었습니다"
    return result
print(func_9(7, 3, "합"))

10

In [14]:
def func_10(x):
    result = x ** 2
    return result

l = [1, 2, 3, 4]
result = []

for i in l:
    result.append(func_10(i))
print(result)

[1, 4, 9, 16]

In [15]:
# map 함수
result_2 = list(map(func_10, l))
print(result)

[1, 4, 9, 16]

In [16]:
# 람다 함수
lamb = lambda x: x**2
print(lamb(4))

16

In [17]:
list(map(lamb,l))

[1, 4, 9, 16]